.added {
  border-radius: 5px;
  border-color: green;
  color: green;
  background: lightgrey;
  border-style: solid;
  padding: 10px;
}

.error {
  border-radius: 5px;
  border-color: red;
  color: red;
  background: lightgrey;
  border-style: solid;
  padding: 10px;
}